In [2]:
import sqlite3
conn=sqlite3.connect("nominations.db")
first_ten=conn.execute("SELECT * from nominations limit 10;").fetchall()
for i in first_ten:
    print (i)

(2010, 'Actor -- Leading Role', 'Javier Bardem', 0, 'Biutiful', 'Uxbal')
(2010, 'Actor -- Leading Role', 'Jeff Bridges', 0, 'True Grit', 'Rooster Cogburn')
(2010, 'Actor -- Leading Role', 'Jesse Eisenberg', 0, 'The Social Network', 'Mark Zuckerberg')
(2010, 'Actor -- Leading Role', 'Colin Firth', 1, "The King's Speech", 'King George VI')
(2010, 'Actor -- Leading Role', 'James Franco', 0, '127 Hours', 'Aron Ralston')
(2010, 'Actor -- Supporting Role', 'Christian Bale', 1, 'The Fighter', 'Dicky Eklund')
(2010, 'Actor -- Supporting Role', 'John Hawkes', 0, "Winter's Bone", 'Teardrop')
(2010, 'Actor -- Supporting Role', 'Jeremy Renner', 0, 'The Town', 'James Coughlin')
(2010, 'Actor -- Supporting Role', 'Mark Ruffalo', 0, 'The Kids Are All Right', 'Paul')
(2010, 'Actor -- Supporting Role', 'Geoffrey Rush', 0, "The King's Speech", 'Lionel Logue')

In [3]:
### Creating ceremonies table 
q='CREATE TABLE ceremonies (id integer PRIMARY KEY,Year integer NOT NULL,Host text );'
creating_ceremonies=conn.execute(q)

In [4]:
###Inserting Data into Ceremonies

year_hosts=[(2010, "Steve Martin"),
(2009, "Hugh Jackman"),
(2008, "Jon Stewart"),
(2007, "Ellen DeGeneres"),
(2006, "Jon Stewart"),
(2005, "Chris Rock"),
(2004, "Billy Crystal"),
(2003, "Steve Martin"),
(2002, "Whoopi Goldberg"),
(2001, "Steve Martin"),
(2000, "Billy Crystal")]
q1='INSERT INTO ceremonies(Year,Host) values( ?,?)'
insert_data= conn.executemany(q1,year_hosts)
conn.commit()

In [7]:
conn.execute("select * from ceremonies").fetchall()

[(1, 2010, 'Steve Martin'),
 (2, 2009, 'Hugh Jackman'),
 (3, 2008, 'Jon Stewart'),
 (4, 2007, 'Ellen DeGeneres'),
 (5, 2006, 'Jon Stewart'),
 (6, 2005, 'Chris Rock'),
 (7, 2004, 'Billy Crystal'),
 (8, 2003, 'Steve Martin'),
 (9, 2002, 'Whoopi Goldberg'),
 (10, 2001, 'Steve Martin'),
 (11, 2000, 'Billy Crystal')]

In [8]:
conn.execute("PRAGMA foreign_keys=ON")
q='CREATE TABLE nominations_two(id integer PRIMARY KEY,category text,nominee text,movie text,character text,won text,ceremony_id integer,foreign key(ceremony_id) references ceremonies(id));'
conn.execute(q)
conn.commit()

In [10]:
q1='SELECT nominations.category, nominations.nominee, nominations.movie, nominations.character, nominations.won, ceremonies.id FROM nominations INNER JOIN ceremonies ON nominations.year == ceremonies.year;'
joined_nominations=conn.execute(q1).fetchall()

In [11]:
insert_into=''' INSERT INTO nominations_two(category,nominee,movie,character,won,ceremony_id) VALUES (?,?,?,?,?,?)'''
conn.executemany(insert_into,joined_nominations)

In [14]:
conn.execute("Drop Table nominations;")

In [16]:
conn.execute("alter table nominations_two rename to nominations;")

OperationalError: no such table: nominations_two

In [17]:
conn.commit()

In [18]:
q2='''CREATE TABLE movies (id integer PRIMARY KEY,movie text)'''
q3='''CREATE TABLE actors(id integer PRIMARY KEY,actor text)'''
q4='''CREATE TABLE movies_actors(id integer PRIMARY KEY,movie_id integer,actor_id integer,foreign key(movie_id) references movies(id), foreign key (actor_id) references actors(id));'''
conn.execute(q2)
conn.execute(q3)
conn.execute(q4)