In [73]:
import sqlite3
conn=sqlite3.connect("nominations.db")
first_ten=conn.execute("SELECT * from nominations limit 10;").fetchall()
for i in first_ten:
    print (i)

OperationalError: database is locked

In [ ]:
### Creating ceremonies table 
q='CREATE TABLE ceremonies (id integer PRIMARY KEY,Year integer NOT NULL,Host text );'
creating_ceremonies=conn.execute(q)

In [ ]:
### Creating a new tabe ceremonies

year_hosts=[(2010, "Steve Martin"),
(2009, "Hugh Jackman"),
(2008, "Jon Stewart"),
(2007, "Ellen DeGeneres"),
(2006, "Jon Stewart"),
(2005, "Chris Rock"),
(2004, "Billy Crystal"),
(2003, "Steve Martin"),
(2002, "Whoopi Goldberg"),
(2001, "Steve Martin"),
(2000, "Billy Crystal")]
q1='INSERT INTO ceremonies(Year,Host) values( ?,?)'
insert_data= conn.executemany(q1,year_hosts)
conn.commit()

In [ ]:
conn.execute("select * from ceremonies").fetchall()

In [ ]:
conn.execute("PRAGMA foreign_keys=ON")
q='CREATE TABLE nominations_two(id integer PRIMARY KEY,category text,nominee text,movie text,character text,won text,ceremony_id integer,foreign key(ceremony_id) references ceremonies(id));'
conn.execute(q)
conn.commit()

In [ ]:
q1='SELECT nominations.category, nominations.nominee, nominations.movie, nominations.character, nominations.won, ceremonies.id FROM nominations INNER JOIN ceremonies ON nominations.year == ceremonies.year;'
joined_nominations=conn.execute(q1).fetchall()
joined_nominations

In [ ]:
insert_into=''' INSERT INTO nominations_two(category,nominee,movie,character,won,ceremony_id) VALUES (?,?,?,?,?,?)'''
conn.executemany(insert_into,joined_nominations)

In [70]:
conn.execute("Select * from nominations_two;")

OperationalError: database is locked